<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Add new User</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/books/add">Add new book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/books">View books</a>
            </li>
            <li sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>
</nav>

<script>
    function validate(){
        let name = document.getElementById("name").value;
        let nameAuthor = document.getElementById("author").value;

        if (name.trim()==null || name.trim()==""|| name===" ") {
            alert("Name of book must be filled out");
            return false;
        }
        else if(nameAuthor.trim()==null || nameAuthor.trim()==""|| nameAuthor===" "){
            document.getElementById("author").focus();
            alert("Author of book cannot be empty!");
            return false;
        }
        return true;
    }
</script>

<div class="container mt-5">
    <h1 class="ml-3"> Adding new book</h1>

    <form action="/books/add" method="post" name="add_form" onsubmit="return validate()">
        <input type="text" name="name" id="name" placeholder="Name" class="form-control mt-3" required><br>
        <input type="text" name="author" id="author" placeholder="Author" class="form-control" required><br>
        <button type="submit" class="btn btn-danger" name="submit">Add book</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>
