<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body{
            background-color: #f4f3ee;
        }

        .btn-login{
            background-color: #e0afa0;
            border-radius: 50px;
            padding: 6px 50px;
            border: 2px solid #e0afa0;
            box-shadow: 0 4px 8px 0 rgba(0.1, 0.1, 0.1, 0.1);
            margin-left: 0.08em;
        }

        .btn-login:hover{
            cursor: pointer;
            border-color: #D09886;
            background-color: #D09886;
        }

        .foot-text{
            font-size: 16px;
        }

        .card{
            border:none;
        }

        .card2-2{
            border-radius: 0;
            border-top-right-radius:0.3em;
            border-bottom-right-radius:0.3em;
            width: 55%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(https://image.freepik.com/free-vector/blurred-background-light-colors_1159-750.jpg);
        }
    </style>
</head>

<body>

<div class="container mt-4 py-4 px-3 mx-auto">
    <div class="card">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 my-3">
                        <div class="row justify-content-center px-3 mt-2"> <a href = "/"><img id="logo" src="https://uxwing.com/wp-content/themes/uxwing/download/19-ecommerce-shopping/shopping-cart.png" width="60em"></a>
                        </div>
                        <div class="container mt-5">
                            <h3 class="text-center mt-3">Create an account</h3>
                            <h6 class="mt-5">Fill all necessary fields</h6>
                                <form action="/registration" method="POST">
                                    <input type="text" name="email" id="email" placeholder="Email" class="form-control mt-3"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                                    <p th:text="${emailError}"></p>
                                    <input type="text" name="username" id="username" placeholder="Username" class="form-control mt-3" pattern=".{5,}" required>
                                    <input  type="password" name="password" id="password" placeholder="Password" class="form-control mt-3" pattern=".{5,}"  required>
                                    <p th:text="${passwordError}"></p>
                                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="form-control mt-3" pattern=".{5,}" required>
                                    <div class="error" id="passwordError"></div>
                                    <button class="btn-block btn-login my-3 px-3 row justify-content-center" type="submit" name="submit">Sign up</button>
                                </form>
                        </div>
                    </div>
                    <div class="text-center foot-text">
                        <p>Already have an account?&nbsp;<a href="/login">Sign in</a></p>
                    </div>
                </div>
            </div>
            <div class="card card2-2"></div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
